.faqs {
  border: 2px solid black;
  padding: 10px 13px;
  text-transform: uppercase;
  border-radius: 3px;
}

img {
  cursor: pointer;
}

.animate-faq {
  animation: pulse;
  animation-duration: 2s;
}
