a {
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  color: black;
}

a:hover {
  color: rgb(228, 9, 89);
}

.signup-btn {
  background-color: black;
  color: white;
  padding: 0.625rem 1.938rem;
}

.signup-btn:hover {
  color: rgb(234, 161, 161);
}

.menu-btn {
  cursor: pointer;
}

.sidebar-menu {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  position: absolute;
  top: 90px;
  right: 0px;
}

.sidebar,
.sidebar a {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
}

.sidebar a:hover {
  color: rgb(228, 9, 89);
}
